#main-article-page{
  padding-top: 10%;
  h1{
    padding-bottom: 10px;
    border-bottom: solid 1px black;
    margin-bottom: 20px;
  }
  #article-author-date{
    border-bottom: solid 1px black;
  }
}
#profile-article-comment{
border-left: 1px solid black;
}
.article-comment{
  margin-bottom: 20px;
}
#imagesm-article-page{
  display: none;
}
#imagemd-article-page{
  display: none;
}

@media all and(max-width: 1024px) {
  #imagemd-article-page{
    display: block;
    margin: 0 auto;
  }
  #imagelg-article-page{
    display: none;
  }
}

@media all and(max-width: 425px) {
  #imagesm-article-page{
    display: block;
    margin: 0 auto;
  }
  #imagelg-article-page{
    display: none;
  }
  #imagemd-article-page{
    display: none;
  }
}