@import "variable";
body{
  @include bodyCover('../img/admin/elisa-kerschbaumer-1167172-unsplash.jpg')
}

.main-dashboard{
  margin-top: 5%;
  padding: 30px;
  background-color: rgba(240 , 240 , 240 ,0.7);
}

.dashboard-users{
  padding-top: 3%;
  margin: 0 auto;
}
.text-center{
  i{
    font-size: 25px;
    margin-bottom: 10px;
  }
}