
.carousel-item {
  .carousel-caption{
    top: 30%;
    bottom: 70%;
    position: absolute;
    p{
      color: #F5F5F5;
      background: linear-gradient(210deg, rgb(26, 26, 26, 0.7), rgb(52, 58, 64, 0.7));
      font-size: 25px;
    }
    a{
      font-size: 20px;
    }
  }
}
#home-content{
  margin-top: 10%;
  margin-bottom: 5%;
  .card-header{
    margin-top: 5px;
  }
}
.home-image-article{
  max-height: 350px;
}

@media all and (max-width: 1980px){
  #home-content{
    margin-top: 5%;
  }
}
@media all and (max-width: 750px){
  header{
    margin-top: 20%;
  }
  .slide{
    display: none;
  }
  #home-content{
    margin-top: 10%;
  }
}

