@import "variable";
.navbar{
  padding: 2px;
  ul{
    margin: 0 auto;
  }
}
p{
  color: $textAndLiColor;
}
li{
  color: $textAndLiColor;
}
.footer{
  margin-top: 5%;
  margin-bottom: 0;
  padding: 5px;
  background-color: #868686;
}