#main-topic-page{
  padding-top: 10%;
}
#image-article-page{
  max-width: 200px;
  max-height: 100%;
  min-width: 200px;
  min-height: 100%;
}
.topic-between{
  border-bottom: solid 1px black;

}
.profile-article-comment{
  border-left: 1px solid black;
}
.report-icon{
  color: red;
}

.topic-content{
  display:flex;
  flex-direction: row;
}
#editor{
  margin-bottom: 20px;
}
@media all and (max-width: 426px){
  .topic-content{
    display:flex;
    flex-direction: column;
    img{
      display: none;
    }
  }
.profile-article-comment{
    border-left: none;
  }
}