{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center">
                    Tous les articles
                </h1>
                <div class="row">
                    <div class="col-md-10">
                    </div>
                    <div class="col-md-2">
                        <div class="dropdown">

                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                Choisir une catégorie
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Toutes les catégories</a>
                                {% for categorie in categories %}
                                    <a class="dropdown-item" href="#">{{ categorie.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for article in articles %}
                        <div class="col-md-4">
                            <div class="jumbotron">
                                <img alt="Bootstrap Image Preview" src="https://www.layoutit.com/img/sports-q-c-140-140-3.jpg" />
                                <h3>
                                    {{ article.name }}
                                </h3>
                                <p>
                                    {{ article.content | striptags | slice(0, 100) }}
                                </p>
                                <p>
                                    <a class="btn btn-primary btn-large" href="{{ path('articleRead', {'id': article.id}) }}">Learn more</a>
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
