{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block title %}Forgotten Password!{% endblock %}

{% block body %}
    <div class="security-form">
        {% if app.session.flashBag.has('danger') %}
            {% for msg in app.session.flashBag.get('danger') %}
                <div class="alert alert-danger">
                    {{ msg }}
                </div>
            {% endfor %}
        {% endif %}
        <form method="post">

            <h1 class="h3 mb-3 font-weight-normal">Forgotten Password</h1>
            <label for="inputEmail" class="sr-only">Email</label>
            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

            <button class="btn btn-md btn-primary" type="submit">
                Send mail !
            </button>

        </form>
    </div>

{% endblock %}
{% block footer %}
{% endblock %}