{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block title %}Redéfinir le mot de passe{% endblock %}

{% block body %}
    <div class="security-form p-3 mt-5">
        <form method="post">
            <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <input type="hidden" name="token" value="{{ token }}">
            <button class="btn btn-md btn-primary mt-1" type="submit">Confirmer</button>
        </form>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}